<h1>About</h1>
<p>
    the <a href="http://www.rubyonrails.org"><em>Ruby on Tails Tutorial</em></a> is a
    <a href="http://www.rubyonrails.org/book">book</a> and
    <a href="http://www.rubyonrails.org/screencasts">screencast series</a> to teach web development with
    <a href="http://www.rubyonrails.org">Ruby on Rails</a>. This is the sample application for the tutorial.
</p>